img {
    width: auto;
    height: 700px;
}
.Logo {
    text-align: center;
}

hr {
    border-color: black;
    border-width: 5px;
}
    a {
        text-decoration: none;
        font-size: 30px;
        
    }
    body {
        background-color: white;
    }